:root {
    --center-channel-bg-rgb: 248, 250, 252;
    --center-channel-color-rgb: 31, 41, 55;
    --sidebar-bg-rgb: 15, 23, 42;
    --sidebar-text-rgb: 255, 255, 255;
    --button-color-rgb: 255, 255, 255;
    --button-bg-rgb: 37, 99, 235;
    --button-danger-color-rgb: 255, 255, 255;
    --button-danger-bg-rgb: 220, 38, 38;
    --link-color-rgb: 37, 99, 235;
    --error-text-rgb: #d24b4e;
}
