.CardBadges {
    display: flex;
    align-items: center;
    margin-top: 6px;
    min-height: 22px;
    color: #667085;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;

    span {
        display: flex;
        align-items: center;
        margin-right: 6px;

        .Icon,
        .CompassIcon {
            color: #667085;
            fill: currentColor;
            margin-right: 4px;
        }
    }
}
