.ViewTitle {
    > div {
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        min-width: 300px;
        min-height: 28px;
    }

    .description {
        max-height: 80px;
        overflow: auto;
        margin-top: 2px;

        .MarkdownEditor {
            color: var(--bb-text-muted);
            font-size: 14px;
            line-height: 22px;
        }
    }

    > .add-buttons {
        flex-direction: row;
        color: rgba(var(--center-channel-color-rgb), 0.4);
        width: 100%;
        align-items: flex-start;
        position: absolute;
        top: -28px;

        .Icon:last-child {
            margin-left: 6px;
        }

        .Icon:first-child {
            margin-right: 6px;
        }

        .Button {
            display: none;
            line-height: 1;
        }

        &.add-visible:hover {
            .Button {
                display: flex;
            }
        }
    }

    .IconSelector {
        margin-right: 10px;
        margin-top: 1px;
    }

    .Editable {
        margin-bottom: 0;
        flex-grow: 1;
        font-size: 26px;
        line-height: 34px;
        font-weight: 760;
        color: var(--bb-text);
    }

    >.description>* {
        flex-grow: 1;
    }
}
