.BoardTemplateSelectorPreview {
    position: relative;
    transform-origin: top left;
    transform: scale(0.8);
    width: 126%;
    height: 480px;
    border-radius: var(--modal-rad);
    pointer-events: none;

    .ButtonWithMenu {
        display: none;
    }

    .Kanban {
        overflow: hidden;
    }
}

@media screen and (max-width: 767px) {
    .BoardTemplateSelectorPreview {
        transform: scale(0.58);
        width: 172%;
        height: 300px;
    }
}
