@import '../../styles/z-index';

.TableRow {
    .open-button {
        display: block;
        flex: 0 0 48px;
        visibility: hidden;

        .Button {
            padding: 2px 6px;
            font-size: 11px;
            text-transform: uppercase;
            font-weight: 600;
            color: rgba(var(--center-channel-color-rgb), 0.64);
            background-color: var(--bb-panel-bg);
            border-radius: 6px;
            box-shadow: var(--elevation-1);
            height: 24px;
            width: 100%;
        }
    }

    &.selected {
        background-color: rgba(var(--button-bg-rgb), 0.1);

        .octo-table-cell {
            background-color: rgba(var(--button-bg-rgb), 0.09);
            border-color: rgba(var(--button-bg-rgb), 0.3);
        }
    }

    &:hover {
        overflow: initial;

        .octo-table-cell {
            background-color: var(--bb-table-row-hover-bg);
            border-color: rgba(var(--button-bg-rgb), 0.22);
        }

        .delete-button {
            display: block;
        }

        .action-cell {
            @include z-index(table-row-action-cell);
            align-items: center;
        }

        .octo-table-cell-btn {
            visibility: visible;
        }

        .title-cell {
            margin-left: 0;
        }
    }

    &:has(.MenuWrapper.menuOpened) {
        @include z-index(table-row-action-cell);
        position: relative;
    }

    &:hover,
    &:has(.MenuWrapper.menuOpened) {
        .open-button,
        .table-row-menu-anchor .optionsMenu {
            visibility: visible;
            opacity: 1;
            pointer-events: auto;
        }
    }

    &.readonly:hover {
        margin-left: unset;
    }

    .action-cell {
        display: flex;
        visibility: hidden;
        position: absolute;
        left: -30px;
        top: 7px;
        margin-left: 0;
        width: 24px;
        height: 30px;
        background: transparent !important;
        border: 0 !important;
    }

    .table-row-menu-anchor {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        width: 32px;
        height: 28px;

        .optionsMenu {
            display: block;
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
        }

        .Menu.noselect {
            max-width: 210px;

            .menu-contents {
                min-width: 176px;
                max-width: 210px;
            }

            .menu-option {
                padding-right: 10px;
                padding-left: 10px;
            }
        }
    }

    .title-cell .table-row-menu-anchor .optionsMenu {
        display: block;
    }

    .URLProperty:hover .Button_Copy {
        display: none;
    }

    .octo-propertyvalue--readonly {
        flex-wrap: nowrap;
        overflow: hidden !important;
    }
}
