@import '../../styles/z-index';

.TableRow {
    .open-button {
        display: none;

        .Button {
            padding: 2px 6px;
            font-size: 11px;
            text-transform: uppercase;
            font-weight: 600;
            color: rgba(var(--center-channel-color-rgb), 0.64);
            background-color: rgb(255, 255, 255);
            border-radius: 6px;
            box-shadow: var(--elevation-1);
            height: 24px;
            width: 100%;
        }
    }

    &.selected {
        background-color: rgba(var(--button-bg-rgb), 0.08);

        .octo-table-cell {
            background-color: rgba(var(--button-bg-rgb), 0.08);
            border-color: rgba(var(--button-bg-rgb), 0.24);
        }
    }

    &:hover {
        overflow: initial;

        .octo-table-cell {
            background-color: rgba(255, 255, 255, 0.96);
            border-color: rgba(148, 163, 184, 0.16);
        }

        .delete-button {
            display: block;
        }

        .open-button {
            display: block;
        }

        .action-cell {
            @include z-index(table-row-action-cell);
            position: relative;
            align-items: center;
        }

        .octo-table-cell-btn {
            visibility: visible;
        }

        .title-cell {
            margin-left: 0;
        }
    }

    &.readonly:hover {
        margin-left: unset;
    }

    .action-cell {
        display: flex;
        visibility: hidden;
        position: absolute;
        left: -30px;
        top: 7px;
        margin-left: 0;
        width: 24px;
        height: 30px;
        background: transparent !important;
        border: 0 !important;
    }

    .URLProperty:hover .Button_Copy {
        display: none;
    }

    .octo-propertyvalue--readonly {
        flex-wrap: nowrap;
        overflow: hidden !important;
    }
}
